---
layout: default
title: The Blog
tagline: The Blog
---

<ul class="posts-list">
  {% for post in site.posts %}
    <li>
      <div>
        <a href="{{ site.baseurl }}{{ post.url }}">
          {{ post.title }}
        </a>
      </div>

      <div style="margin-top: 10px;">
        <small>
          <time datetime="{{ post.date | date_to_xmlschema }}">
            {{ post.date | date_to_string }}
          </time>
        </small>

        {% for tag in post.tags %}
          <span class="post-tag">
            <strong>
              {{ tag }}
            </strong>
          </span>
        {% endfor %}
      </div>
    </li>
  {% endfor %}
</ul>
