---
layout: home
title: Home
---

<div class="home__content">
  <header>
    <img class="profile-pic" src="{{ site.baseurl }}/assets/profile-pic.jpg" alt="profile pic">
    <h1>Hey, I’m Kacper&nbsp;Goliński. A&nbsp;Software&nbsp;Engineer.</h1>

    <div class="social-links">
      <a href="https://twitter.com/thecaspg" rel="nofollow">Twitter</a>
      <a href="https://github.com/caspg" rel="nofollow">GitHub</a>
      <a href="https://www.linkedin.com/in/kacper-golinski-78aa3866" rel="nofollow">Linkedin</a>
    </div>

  </header>

  <main>
    <!-- <div class="contract-alert">
      Are you looking for an Elixir/Ruby/React contractor? <a href="mailto:kacper.golinski@gmail.com">Let's talk!</a>
    </div> -->

    <!-- <br>
    <br> -->

    <p>
      I'm a software engineer living in Gdańsk, Poland.
      I love solving problems and creating new things with Ruby, Elixir, Typescript, React, React Native and a bit of DevOps.
      
      <br>
      <br>
      On the side, I'm building <a href="https://velomapa.pl/" rel="dofollow">https://velomapa.pl</a>

      <br>
      <br>

      If you would like to get in touch, please <a href="mailto:kacper.golinski@gmail.com">drop me a message</a>.
    </p>
  </main>

  <footer class="footer">
    <small>
      &copy; <time datetime="{{ site.time | date_to_xmlschema }}">{{ site.time | date: '%Y' }}</time>
    </small>
  </footer>
</div>

<!--
<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item older" href="{{ paginator.next_page_path | prepend: site.baseurl }}">Older</a>
  {% else %}
    <span class="pagination-item older">Older</span>
  {% endif %}
  {% if paginator.previous_page %}
    <a class="pagination-item newer" href="{{ paginator.previous_page_path | prepend: site.baseurl }}">Newer</a>
  {% else %}
    <span class="pagination-item newer">Newer</span>
  {% endif %}
</div> -->
