.home-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;

  max-width: 50rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  margin-left: auto;
  margin-right: auto;

  header {
    h1 {
      font-size: 1.6rem;
    }

    .profile-pic {
      width: 200px;
      height: 200px;
      border-radius: 100px;
      background-color: rgb(188, 148, 97);
    }

    .social-links {
      width: 100%;

      a {
        margin-right: 10px;
      }
    }
  }

  main {
    margin-top: 50px;
  }
}

@media (min-width: 768px) {
  .home-page {
    margin-top: 100px;
    flex-direction: row;
    justify-content: space-between;

    header {
      width: 48%;

      .profile-pic {
        width: 300px;
        height: 300px;
        border-radius: 150px;
      }
    }

    main {
      margin-top: 0;
      width: 48%;
    }
  }
}
