.home__content {
  margin-top: 50px;

  header {
    h1 {
      font-size: 2.5rem;
      font-weight: bolder;
      font-family: "pt serif", $root-font-family;
    }

    .profile-pic {
      width: 200px;
      height: 200px;
      border-radius: 100px;
      background-color: rgb(188, 148, 97);
    }

    .social-links {
      width: 100%;

      a {
        margin-right: 10px;
      }
    }
  }

  h2 {
    font-size: 2.5rem;
    font-weight: bolder;
    font-family: "pt serif", $root-font-family;
  }

  main {
    margin-top: 20px;
  }
}
